<div class="col-8 mx-auto">
  <div style="text-align: center">
    <h1>Sua thông tin hàng hóa</h1>
  </div>
  <form *ngIf="productForm" [formGroup]="productForm" (ngSubmit)="save()" class="row g-3 font-label"
        style="margin-top: 10px ;background-color: #e4ecf1;">
    <input type="hidden" formControlName="id">

    <div class="col-md-6">
      <!--    input-->
      <label class="form-label">Tên Hàng </label>
      <input formControlName="name" type="text" class="form-control" name="name" id="name">

      <!--    hien thi loi-->
      <div
        *ngIf="productForm.controls.name.invalid && (productForm.controls.name.dirty || productForm.controls.name.touched|| productForm.controls.name.errors?.empty)">

        <small
          *ngIf="productForm.controls.name.hasError('required') || productForm.controls.name.errors.empty"
          class="form-text text-danger">Require not empty.</small>
      </div>
    </div>

    <div class="col-md-6">

      <label class="form-label"> Giá</label>
      <input formControlName="price" type="text" class="form-control" name="price" id="price"><span>VND</span>

      <!--    hien thi loi-->
      <div
        *ngIf="productForm.controls.price.invalid && (productForm.controls.price.dirty || productForm.controls.price.touched|| productForm.controls.price.errors?.empty)">

        <small
          *ngIf="productForm.controls.price.hasError('required') || productForm.controls.price.errors.empty"
          class="form-text text-danger">Require not empty.</small>
      </div>
    </div>


    <div class="col-md-12">

      <label class="form-label" style="margin-bottom: 20px">Hình ảnh</label>
                  <img style="width: 200px;height: 200px" alt="avatar" id="imageNews"
                     [src]="img2" >
      <input type="file" class="form-control-file" (change)="showPreview($event)" name="img"
             id="img">


    </div>



    <div class="col-md-6">
      <label class="form-label">Kích thước màn hình</label>
      <input formControlName="screenSize" type="text" class="form-control" name="screenSize" id="screenSize">

      <!--    hien thi loi-->
      <div
        *ngIf="productForm.controls.screenSize.invalid && (productForm.controls.screenSize.dirty || productForm.controls.screenSize.touched || productForm.controls.screenSize.errors?.empty)">

        <small
          *ngIf="productForm.controls.screenSize.hasError('required') || productForm.controls.screenSize.errors.empty"
          class="form-text text-danger">Require not empty.</small>
      </div>
    </div>

    <div class="col-md-6">
      <label class="form-label">Camera </label>
      <input formControlName="camera" type="text" class="form-control" name="camera" id="camera">

      <!--    hien thi loi-->
      <div
        *ngIf="productForm.controls.camera.invalid && (productForm.controls.camera.dirty || productForm.controls.camera.touched || productForm.controls.camera.errors?.empty)">

        <small
          *ngIf="productForm.controls.camera.hasError('required') || productForm.controls.camera.errors.empty"
          class="form-text text-danger">Require not empty.</small>
      </div>
    </div>

    <div class="col-md-6">
      <label class="form-label">Selfie </label>
      <input formControlName="selfie" type="text" class="form-control" name="selfie" id="selfie">

      <!--    hien thi loi-->
      <div
        *ngIf="productForm.controls.selfie.invalid && (productForm.controls.selfie.dirty || productForm.controls.selfie.touched || productForm.controls.selfie.errors?.empty)">

        <small
          *ngIf="productForm.controls.selfie.hasError('required') || productForm.controls.selfie.errors.empty"
          class="form-text text-danger">Require not empty.</small>
      </div>

    </div>


    <div class="col-md-6">
      <label class="form-label">Lưu trữ </label>
      <input formControlName="memory" type="text" class="form-control" name="memory" id="memory">

      <!--    hien thi loi-->
      <div
        *ngIf="productForm.controls.memory.invalid && (productForm.controls.memory.dirty || productForm.controls.memory.touched || productForm.controls.memory.errors?.empty)">
        <!--      <small *ngIf="productForm.controls.price.hasError('pattern')" class="form-text text-danger">Wrong format, ex:-->
        <!--        KH-0123</small>-->
        <small
          *ngIf="productForm.controls.memory.hasError('required') || productForm.controls.memory.errors.empty"
          class="form-text text-danger">Require not empty.</small>
      </div>
    </div>

    <div class="col-md-12">
      <label class="form-label">CPU </label>
      <input formControlName="cpu" type="text" class="form-control" name="cpu" id="cpu">

      <!--    hien thi loi-->
      <div
        *ngIf="productForm.controls.cpu.invalid && (productForm.controls.cpu.dirty || productForm.controls.cpu.touched || productForm.controls.cpu.errors?.empty)">

        <small
          *ngIf="productForm.controls.cpu.hasError('required') || productForm.controls.cpu.errors.empty"
          class="form-text text-danger">Require not empty.</small>
      </div>
    </div>


    <div class="col-md-12">
      <label class="form-label">Mô tả thêm </label>
      <!--            <input formControlName="otherDescription" type="text" class="form-control" name="otherDescription"-->
      <!--                   id="otherDescription">-->
      <textarea formControlName="otherDescription" class="form-control">    </textarea>

    </div>


    <div style="display:flex;justify-content: center; width: 100%; margin-top: 20px">
      <button type="submit" class="btn-create btn-rounded">
        Thêm mới
      </button>

      <a [routerLink]="['/product/list']" style="margin-left: 10px" class="btn-create btn-rounded">
        Hủy
      </a>

    </div>
  </form>
</div>





<!-- Modal -->
<div class="modal fade " id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Bạn có muốn chỉnh sửa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Tên hàng: Iphone 13</p>
        <p>Giá: 9.000.000</p>
        <p>Kích thước màn hình: 6.4 inch</p>
        <p>Camera: 64.0 MP</p>
        <p>Selfie: 32.0 MP</p>
        <p>Lưu trữ: 128 GB</p>
        <p>CPU: Snapdragon 680</p>


        <div class="modal fade " id="cancelEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Bạn có muốn hủy chỉnh sửa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">


              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary">Có</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Không</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
