<app-navigataion></app-navigataion>

<div class="container-lg" style="margin-top: 30px">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="contact-form">
        <form id="createFormVilla" method="POST" [formGroup]="contractCreateForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="contractStartDateCreate">Contract Start Date</label>
                <input type="date" class="form-control" id="contractStartDateCreate"
                       formControlName="contractStartDate">
                <div
                  *ngIf="contractStartDate.invalid && (contractStartDate.dirty || contractStartDate.touched) || contractStartDate.errors?.empty || contractStartDate.errors?.dateErrors">
                  <span *ngIf="contractStartDate.errors.required || contractStartDate.errors.empty" style="color: red">Empty! Choose please!</span>
                  <span *ngIf="contractStartDate.errors.dateErrors" style="color: red">Start date must be before end date! Please choose again!!</span>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="contractEndDateCreate">Contract End Date</label>
                <input type="date" class="form-control" id="contractEndDateCreate" formControlName="contractEndDate">
                <div
                  *ngIf="contractEndDate.invalid && (contractEndDate.dirty || contractEndDate.touched) || contractEndDate.errors?.empty || contractEndDate.errors?.dateErrors">
                  <span *ngIf="contractEndDate.errors.required || contractEndDate.errors.empty" style="color: red">Empty! Choose please!</span>
                  <span *ngIf="contractEndDate.errors.dateErrors" style="color: red">End date must be after start date! Please choose again!</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="contractDepositCreate">Contract deposit: </label>
                <input type="text" class="form-control" id="contractDepositCreate"
                        formControlName="contractDeposit">
                <div
                  *ngIf="contractDeposit.invalid && (contractDeposit.dirty || contractDeposit.touched) || contractDeposit.errors?.empty">
                    <span *ngIf="contractDeposit.errors?.gte"
                          style="color: red">{{contractDeposit.errors?.requiredValue}}</span>
                  <span *ngIf="contractDeposit.errors.required || contractDeposit.errors.empty" style="color: red">Empty! Input please!</span>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="contractTotalMoneyCreate">Contract total money: </label>
                <input type="text" class="form-control" id="contractTotalMoneyCreate"
                       placeholder="Type new contract cost here" formControlName="contractTotalMoney">
                <div
                  *ngIf="contractTotalMoney.invalid && (contractTotalMoney.dirty || contractTotalMoney.touched) || contractTotalMoney.errors?.empty">
                    <span *ngIf="contractTotalMoney.errors?.gte"
                          style="color: red">{{contractTotalMoney.errors?.requiredValue}}</span>
                  <span *ngIf="contractTotalMoney.errors.required || contractTotalMoney.errors.empty"
                        style="color: red">Empty! Input please!</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <!--                [attr.selected]="rt"-->
                <label for="employeeCreate">Choose employee:</label>
                <select id="employeeCreate" class="form-control" formControlName="employee">
                  <option *ngFor="let e of employees; let first" [selected]="first" [ngValue]="e">{{e.id}}
                    - {{e.employeeName}}</option>
                </select>
                <div
                  *ngIf="employee.invalid && (employee.dirty || employee.touched) || employee.errors?.empty">
                  <span *ngIf="employee.errors.required || employee.errors.empty" style="color: red">Empty! Choose please!</span>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label for="customerCreate">Choose customer:</label>
                <select id="customerCreate" class="form-control" formControlName="customer">
                  <option *ngFor="let c of customers; let first" [selected]="first" [ngValue]="c">{{c.customerCode}}
                    - {{c.customerName}}</option>
                </select>
                <div
                  *ngIf="customer.invalid && (customer.dirty || customer.touched) || customer.errors?.empty">
                  <span *ngIf="customer.errors.required || customer.errors.empty" style="color: red">Empty! Choose please!</span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="servicesCreate">Choose services:</label>
            <select id="servicesCreate" class="form-control" formControlName="services">
              <option *ngFor="let f of facilities; let first" [selected]="first"
                      [ngValue]="f">{{f.serviceName}}</option>
            </select>
            <div
              *ngIf="services.invalid && (services.dirty || services.touched) || services.errors?.empty">
              <span *ngIf="services.errors.required || services.errors.empty"
                    style="color: red">Empty! Choose please!</span>
            </div>
          </div>
          <div class="submit-form">
              <div class="text-center submit-block">
              <button type="submit" class="btn btn-primary" style="border: none;">
                Create
              </button>
              <a class="btn btn-primary" style="border: none;">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
