<app-navigataion></app-navigataion>
<div
  class="p-5 text-center bg-image"
  style="
      background-image: url('https://freetuts.net/upload/tut_post/images/2021/06/29/4045/anh-wallpaperup-full-hp-4k-chat-luong-cao.jpg');
      height: 150px;
      margin-top: 0;
    "
>
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">List Customer</h1>
      </div>
    </div>
  </div>
</div>

<a [routerLink]="['/customer/create']">
  <button class="btn" style="background-color: #046056; color:white ">Add New Customer</button>
</a>

<input type="text" class="form-control" name="name" [(ngModel)]="name" (ngModelChange)="search()"
       placeholder="Enter name to search">

<div id="main-container">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>STT</th>
      <th>Customer Code</th>
      <th>Customer Name</th>
      <th>Customer Gender</th>
      <th>Customer Birthday</th>
      <th>Customer Id Card</th>
      <th>Customer Phone</th>
      <th>Customer Email</th>
      <th>Customer Address</th>
      <th>Customer Type</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let customer of customers | paginate : {itemsPerPage : 2 , currentPage :p}; index as i">
      <td>{{i + 1}}</td>
      <td>{{customer.customerCode}}</td>
      <td>{{customer.customerName}}</td>
      <td>{{customer.customerGender == 0 ? 'Female' : 'Male'}}</td>
      <td>{{customer.customerBirthday}}</td>
      <td>{{customer.customerIdCard}}</td>
      <td>{{customer.customerPhone}}</td>
      <td>{{customer.customerEmail}}</td>
      <td>{{customer.customerAddress}}</td>
      <td ngSwitch="{{customer.customerTypeId}}">
        <span *ngSwitchCase="1">Dimond</span>
        <span *ngSwitchCase="2">Platinum</span>
        <span *ngSwitchCase="3">Gold</span>
        <span *ngSwitchCase="4">Silver</span>
        <span *ngSwitchCase="4">Member</span>
      </td>
      <td><a [routerLink]="['/customer/edit/',customer.id]">
        <button class="btn btn-primary">Edit</button>
      </a></td>
      <td><a (click)="onOpenEditModal(customer)">
        <button class="btn btn-primary">Delete</button>
      </a></td>

    </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p=$event"></pagination-controls>

  <div
    class="modal fade"
    id="deleteModal"
    data-backdrop="static"
    data-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-titl" id="staticBackdropLAbel">Do you want to delete? </h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
          <!--                <input type="hidden" id="customerDelete_id" name="customer_id">-->
        </div>
        <div class="modal-body" id="customer_delete">
          <div class="modal-body">
            <div *ngIf="check">
              <p>Customer Name : {{deleteCustomer.customerName}}</p>
              <p>Customer Code : {{deleteCustomer.customerCode}}</p>
            </div>

            <div class="modal-footer">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button #closeModal type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button (click)="delete(closeModal)" type="button" class="btn btn-primary" id="delete_customer_id">ok</button>
        </div>
      </div>
    </div>
  </div>
</div>
